/* positions and styles the nav bar */
body {
    font-family: Arial, Helvetica, sans-serif;
}
a,button, input[type="submit"] {
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}
li {
    display: inline-block;
}
#about, #store, #gmail, #imges {
font-size: .7rem;
}
#about, #store, #gmail, #imges {
    position: relative;

}
#gmail, #imges {
    left: 10vw;
}
#apps-button {
    background: none;
    padding: 0%;
    border: none;
    position: absolute;
    top: 2vw;
    right: 27vw;
}
#signin {
    position: absolute;
    right: 2vw;
    top: 2vw;
    font-size: .7rem;
    background-color: #1a73e8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 10px;
}


/* styles the links */

body nav ul li a, body nav ul li a:visited {
    text-decoration: none;
    color: #000;
}

/* positions the logo, search bar and buttons */

.googlelogo, .search, .gsearch, .lucky {
    margin: 9px auto;
    display: block;
    position: relative;
    top: 3vh;
}
.search {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 7vw;
    /* height: 44px; */
    width: 90vw;
    border-radius: 15px;
}
.gsearch, .lucky {
    max-width: 35vw;
    font-size: 0.7rem;
    /* top: 5vh; */
}
.gsearch {
    float: left;
    left: 10vw;
}
.lucky {
    float: right;
    right: 12vw;
}

/* styles and positions the link under the search box */

p {
    font-size: .7rem;
    position: relative;
    display: inline-block;
    color: blue;
    top: 10vw;
    left: 12vw;
}
/* styles and places the footer */
footer{
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 10vw;
}
footer nav ul li a {
    color:  #70757a;
    font-size: .7rem;
    display: inline-block;
    position: fixed;
    bottom: 0;   
}
/* places and styles the elements in the footer */
#ad {
    left: 1vw;
}
#biz {
    left: 25vw;
}
#how {
    left: 55%;
    bottom: 5vw;
}
#carbon {
    position: absolute;
    left: 2.5vw;
    bottom: 5vw;
}
#carbon img {
    height: 14px;
}
#privacy {
    left: 45vw;
}
#terms {
    right: 28vw;
}
#settings {
    right: 10vw;
}

#hideit {
    display: none;
}
/* optimization for screens larger than 1200px */
@media screen and (min-width: 1200px) {
    #about, #store, #gmail, #imges {
        font-size: .9rem;
        position: absolute;
        top: 1.8vw;
    }
    #about {
        left: 2vw;
    }
    #store {
        left: 6vw;
    }
    #gmail {
        left: 79vw;
    }
    #imges {
        left: 83vw;
    }
    #apps {
        position: relative;
        left: 16.5vw;
        bottom: .5vw;
    }   
    #signin {
        font-size: .9rem;
        padding: 10px 15px;
        min-width: 100px;
        max-height: 40px;
        top: 1vw;
        position: absolute;
        text-align: center;
    }
    .googlelogo {
        margin: 60px auto 30px;
    }
    .search {
        width: 45vw;
    }
    .gsearch, .lucky {
        min-width: 5vw;
        font-size: .9rem;
        position: absolute;
        top: 21vw;
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial, sans-serif;
        padding: 0 16px;

    }
    .gsearch {
        left: 38vw;
    }
    .lucky {
        right: 38vw;
    }
    p {
        font-size: .8rem;
        position: fixed;
        display: inline-block;
        color: blue;
        top: 25vw;
        left: 38vw;
    }
    footer{
        height: 3vw;
    }
    footer nav ul li a {
        bottom: 1vw;
        font-size: .8rem;
    }
    #ad {
        left: 2vw;
    }
    #biz {
        left: 11vw;
    }
    #how {
        bottom: 1vw;
        left: 18.5vw;
    }
    #privacy {
        left: 83vw;
    }
    #terms {
        right: 8vw;
    }
    #settings {
        right: 2vw;
    }
    #carbon {
        position: absolute;
        bottom: 1vw;
        left: 43vw;
    }
    #carbon img {
        margin-right: 7px;
    }
    #hideit {
        display: inline-block;
    }
    .search-icon {
        position: relative;
        display: inline-block;
        left: 27.5vw;
        bottom: 1.8vw;
        color: #9aa0a6;
    }
    .search {
        background: #fff;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        height: 7vw;
        height: 44px;
        width: 45vw;
        border-radius: 24px;
    }
}